.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  }
  

.row{
  background-image: linear-gradient( to right, rgb(235, 235, 235) , rgb(46, 45, 44) );
}
